<nav class="navbar navbar-expand gb-navbar fixed-top">
  <div class="container-fluid align-items-center d-flex">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.png", alt: "GeoBattle", height: 48, class: "brand-logo" %>
    <% end %>

    <div class="navbar-icons d-flex align-items-center ms-auto">

      <%= link_to pages_profile_path, class: "gb-icon" do %>
        <i class="fa-solid fa-user"></i>
      <% end %>


      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, class: "gb-icon", data: { turbo_method: :delete } do %>
          <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "gb-icon" do %>
          <i class="fa-solid fa-right-to-bracket"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
