<aside class="gb-sidebar">
  <div class="gb-sidebar_logo">
    <%= link_to root_path do %>
      <%= image_tag "littlelogo.png", alt: "GeoBattle small logo", class: "gb-logo small" %>
      <%= image_tag "logo.png",        alt: "GeoBattle big logo",   class: "gb-logo big" %>
    <% end %>
  </div>

  <div class="gb-sidebar__avatar">
    <%= image_tag "avatar3.png", alt: "Profil", class: "gb-avatar" %>
  </div>

  <nav class="gb-sidebar__menu">

   <%= link_to root_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-house" style="color: #ffffff;"></i>
      <span class="label">Home page</span>
    <% end %>
    <%= link_to pages_profile_path, class: "gb-sideitem active" do %>
      <i class="fa-solid fa-user"></i>
      <span class="label">Profil</span>
    <% end %>
    <%= link_to pages_stats_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-chart-simple"></i>
      <span class="label">Statistiques</span>
    <% end %>

    <%= link_to destroy_user_session_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
      <span class="label">Déconnexion</span>
    <% end %>
  </nav>
</aside>

<div class="rewards-layout">
  <div class="profile-container">
    <div class="profile-card">
      <div class="profile-avatar-wrap">
        <%= image_tag "avatar3.png", alt: "Avatar", class: "profile-avatar" %>
        <i class="fa-solid fa-pen-to-square edit-icon avatar-edit"></i>
      </div>

      <hr class="profile-sep">

      <div class="profile-field profile-field--name">
        <span class="profile-name">Geo Ninja</span>
        <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </div>

      <div class="profile-field">
        <span class="profile-label">Mot de passe</span>
        <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </div>

      <div class="profile-field">
        <span class="profile-label">Email</span>
        <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </div>

      <hr class="profile-sep">

      <ul class="profile-stats">
        <li>Nombres de badges : -</li>
        <li>Ranking : -</li>
        <li>Evolution ranking (+ / -)</li>
      </ul>

      <button class="btn-save">Enregistrer</button>
    </div>
  </div>

  <div class="rewards-right">
  <div class="reward-grid">
    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title=" Un diamant pour chaque fois que tu as 100% de bonnes réponses quiz difficile">
        <i class="fa-solid fa-gem" style="color: #0051f2ff;"></i>
      </div>
      <div class="reward-text">300 diamants brut</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="Une medaille pour chaque fois que tu as 80 % de bonnes réponses quiz difficile">
      <i class="fa-solid fa-medal" style="color: #FFD43B;"></i>
      </div>
      <div class="reward-text">0 diamant de brut</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="Une medaille pour chaque fois que tu as 80 % de bonnes réponses quiz intermédiaire">
       <i class="fa-solid fa-medal" style="color: #858585ff;"></i>
      </div>
      <div class="reward-text">12 médailles d’Argent</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="Une medaille pour chaque fois que tu as 80 % de bonnes réponses quiz facile">
        <i class="fa-solid fa-award" style="color: #fc8a1fff;"></i>
      </div>
      <div class="reward-text">7 médailles de Bronze</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title=" Un badge a chaque fois que tu as 30% ou moins de bonnes réponses à n’importe quel quiz">
        <i class="fa-solid fa-poo" style="color: #6e4500ff;"></i>
      </div>
      <div class="reward-text">6 crottes</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="Un badge a chaque fois que tu as 80% ou plus dans des questions de reliefs">
       <i class="fa-solid fa-person-hiking" style="color: #017452;"></i>
      </div>
      <div class="reward-text">3 badges montagnard</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="Un badge a chaque fois que tu as 80% ou plus dans des questions de drapeaux">
        <i class="fa-solid fa-flag" style="color: #ff0000;"></i>
      </div>
      <div class="reward-text">Un badge Roi de la coline</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="Un badge a chaque fois que tu as 80% ou plus dans des questions de capitales">
        <i class="fa-solid fa-building-columns" style="color: #B197FC;"></i>
      </div>
      <div class="reward-text">7 badges Capitaliste</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="Un badge a chaque fois que tu as 80% dans des questions géopolitiques">
        <i class="fa-solid fa-helmet-un" style="color: #b10196ff;"></i>
      </div>
      <div class="reward-text">6 badges Diplomate</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="Badge impossible a obtenir. Juste pour que vous sachiez">
        <%= image_tag "antoine.png", alt: "Badge Antoine", class: "reward-img" %>
      </div>
      <div class="reward-text">BADGE ANTOINE</div>
    </div>

    <div class="reward-card">
      <div class="reward-ico" data-bs-toggle="tooltip" data-bs-placement="top" title="TU T'ES VRAIMENT CHIE DESSUS">
        <i class="fa-solid fa-poo" style="color: #2b1b00ff;"></i>
      </div>
      <div class="reward-text">SERIAL CROTTEUR</div>
    </div>
  </div>
</div>
