
<aside class="gb-sidebar">

<div class="gb-sidebar_logo">
  <%= link_to root_path do %>
    <%= image_tag "littlelogo.png", alt: "GeoBattle small logo", class: "gb-logo small" %>
    <%= image_tag "logo.png",        alt: "GeoBattle big logo",   class: "gb-logo big" %>
  <% end %>
</div>

  <div class="gb-sidebar__avatar">
    <%= image_tag "avatar.png", alt: "Profil", class: "gb-avatar" %>
  </div>



<nav class="gb-sidebar__menu">
    <%= link_to pages_profile_path, class: "gb-sideitem active" do %>
      <i class="fa-solid fa-user"></i>
      <span class="label">Profil</span>
    <% end %>

    <%= link_to pages_rewards_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-trophy"></i>
      <span class="label">Recompences</span>
    <% end %>

    <%= link_to pages_stats_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-chart-simple"></i>
      <span class="label">Statistiques</span>
    <% end %>

    <%= link_to pages_friends_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-users"></i>
      <span class="label">Vos amis</span>
    <% end %>

    <%= link_to destroy_user_session_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
      <span class="label">Déconnexion</span>
    <% end %>
  </nav>
</aside>




<div class="profile-container">
  <div class="profile-card">
    <div class="profile-avatar-wrap">
      <%= image_tag "avatar.png", alt: "Avatar", class: "profile-avatar" %>
      <i class="fa-solid fa-pen-to-square edit-icon avatar-edit"></i>
    </div>

    <hr class="profile-sep">

    <h2 class="profile-name">
      Geo Ninja
      <i class="fa-solid fa-pen-to-square edit-icon"></i>
    </h2>

    <div class="profile-field">
      <span class="profile-label">Mot de passe</span>
      <i class="fa-solid fa-pen-to-square edit-icon"></i>
    </div>

    <div class="profile-field">
      <span class="profile-label">Email</span>
      <i class="fa-solid fa-pen-to-square edit-icon"></i>
    </div>

    <hr class="profile-sep">

    <ul class="profile-stats">
      <li>Nombres de badges : -</li>
      <li>Ranking : -</li>
      <li>Evolution ranking (+ / -)</li>
    </ul>

    <button class="btn-save">Enregistrer</button>
  </div>
</div>
