<aside class="gb-sidebar">
  <div class="gb-sidebar_logo">
    <%= link_to root_path do %>
      <%= image_tag "littlelogo.png", alt: "GeoBattle small logo", class: "gb-logo small" %>
      <%= image_tag "logo.png", alt: "GeoBattle big logo", class: "gb-logo big" %>
    <% end %>
  </div>

  <div class="gb-sidebar__avatar">
    <%= image_tag "avatar3.png", alt: "Profil", class: "gb-avatar" %>
  </div>

  <nav class="gb-sidebar__menu">
    <%= link_to root_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-house" style="color: #ffffff;"></i>
      <span class="label">Home page</span>
    <% end %>

    <%= link_to pages_profile_path, class: "gb-sideitem active" do %>
      <i class="fa-solid fa-user"></i>
      <span class="label">Profil</span>
    <% end %>

    <%= link_to pages_stats_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-chart-simple"></i>
      <span class="label">Statistiques</span>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path,
                  class: "gb-sideitem",
                  data: { turbo_method: :delete, turbo_confirm: "Se déconnecter ?" } do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="label">Déconnexion</span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "gb-sideitem" do %>
        <i class="fa-solid fa-right-to-bracket"></i>
        <span class="label">Se connecter</span>
      <% end %>
    <% end %>
  </nav>
</aside>


<div class="rewards-layout">
  <div class="profile-container">
    <div class="profile-card">
      <div class="profile-avatar-wrap">
        <%= image_tag "avatar3.png", alt: "Avatar", class: "profile-avatar" %>
        <i class="fa-solid fa-pen-to-square edit-icon avatar-edit"></i>
      </div>

      <hr class="profile-sep">

      <div class="profile-field profile-field--name">
        <span class="profile-name">Cauchix</span>
        <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </div>

      <div class="profile-field">
        <span class="profile-label">Mot de passe</span>
        <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </div>

      <div class="profile-field">
        <span class="profile-label">Email</span>
        <i class="fa-solid fa-pen-to-square edit-icon"></i>
      </div>

      <hr class="profile-sep">

      <ul class="profile-stats">
        <li>Nombres de badges : -</li>
        <li>Ranking : -</li>
        <li>Evolution ranking (+ / -)</li>
      </ul>

      <button class="btn-save">Enregistrer</button>
    </div>
  </div>

  <div class="rewards-right">
  <div class="reward-grid">
    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top"title="Tu as <%= current_user.badges.count %> diamant(s) - 100% de bonnes réponses">
      <div class="reward-ico" >
        <i class="fa-solid fa-gem" style="color: #0051f2ff;"></i>
      </div>
    </div>

    <div class="reward-card"
     data-bs-toggle="tooltip"
     data-bs-placement="top"
     title="Tu as <%= current_user.badges.count %> medaille(s) d'or - 80% de bonnes réponses">
  <div class="reward-ico">
    <i class="fa-solid fa-medal" style="color: #b89600ff;"></i>
  </div>
</div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> medaille(s) d'argent - 60% de bonnes réponses">
      <div class="reward-ico">
       <i class="fa-solid fa-medal" style="color: #858585ff;"></i>
      </div>
    </div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> medaille(s) de bronze - 30 % de bonnes réponses">
      <div class="reward-ico">
        <i class="fa-solid fa-medal" style="color: #fc8a1fff;"></i>
      </div>
    </div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> medaille(s) pooh - Moins de 30% de bonnes réponse">
      <div class="reward-ico">
        <i class="fa-solid fa-poo" style="color: #6e4500ff;"></i>
      </div>
    </div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> badge(s) MONTAGNARD: 80% dans la catégorie Reliefs">
      <div class="reward-ico">
       <i class="fa-solid fa-person-hiking" style="color: #017452;"></i>
      </div>
    </div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> badge(s) ROI DE LA COLLINE: 80% dans la catégorie Drapeaux">
      <div class="reward-ico">
        <i class="fa-solid fa-flag" style="color: #ff0000;"></i>
      </div>
    </div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> badge(s) CAPITALISTE: 80% dans la catégorie Capitales">
      <div class="reward-ico">
        <i class="fa-solid fa-building-columns" style="color: #B197FC;"></i>
      </div>
    </div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> badge(s) CULTURISTE: 80% dans la catégorie Cultures">
      <div class="reward-ico">
        <i class="fa-solid fa-language"></i>
      </div>
    </div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> badge(s) DIPLOMATE: 80% dans la catégorie Géopolitique">
      <div class="reward-ico">
        <i class="fa-solid fa-helmet-un" style="color: #b10196ff;"></i>
      </div>

    </div>

    <div class="reward-card" data-bs-toggle="tooltip" data-bs-placement="top" title="Tu as <%= current_user.badges.count %> badge(s) SERIAL CROTTEUR: Tu as échoué 5 fois ou plus ">
      <div class="reward-ico">
        <i class="fa-solid fa-poo" style="color: #2b1b00ff;"></i>
      </div>
    </div>
  </div>
</div>
