<aside class="gb-sidebar">
  <div class="gb-sidebar_logo">
    <%= link_to root_path do %>
      <%= image_tag "littlelogo.png", alt: "GeoBattle small logo", class: "gb-logo small" %>
      <%= image_tag "logo.png", alt: "GeoBattle big logo", class: "gb-logo big" %>
    <% end %>
  </div>

  <div class="gb-sidebar__avatar">
    <%= image_tag "avatar3.png", alt: "Profil", class: "gb-avatar" %>
  </div>

  <nav class="gb-sidebar__menu">
    <%= link_to root_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-house" style="color: #ffffff;"></i>
      <span class="label">Home page</span>
    <% end %>

    <%= link_to pages_profile_path, class: "gb-sideitem active" do %>
      <i class="fa-solid fa-user"></i>
      <span class="label">Profil</span>
    <% end %>

    <%= link_to pages_stats_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-chart-simple"></i>
      <span class="label">Statistiques</span>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path,
                  class: "gb-sideitem",
                  data: { turbo_method: :delete, turbo_confirm: "Se déconnecter ?" } do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="label">Déconnexion</span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "gb-sideitem" do %>
        <i class="fa-solid fa-right-to-bracket"></i>
        <span class="label">Se connecter</span>
      <% end %>
    <% end %>
  </nav>
</aside>


<div class="parent stats-container">

  <div class="div1 card">
    <h1 class="title">Statistiques</h1>
    <h3>Retrouvez toutes les informations sur vos performances</h3>
    <div class="global">
      <p>Nombre de bonnes réponses: <%= @correct.count %></p>
      <p>Nombre de mauvaises réponses: <%= @incorrect.count %></p>
      <p>Pourcentage global: <%= number_to_percentage(@total_correct, precision: 1) %> de bonnes réponses</p>
    </div>
  </div>

  <div class="div2 card">
    <h2>Statistiques par catégorie</h2>
    <div>
      <p>Drapeaux :</p>
      <p>Nombre de bonnes réponses: <%=  @correct_in_cat.count %>, <%= @total_correct_hr %>% de réussite</p>
    </div>
    <div>Reliefs : Y %</div>
    <div>Catégorie géopolitique : etc... </div>
    <div>Catégorie Régions et villes du monde</div>
    <div>Catégorie cultures :</div>
  </div>

  <div class="div3 card">
    <h2>Statistiques par difficulté</h2>
    <div>Niveau facile : </div>
    <div>Niveau intermédiaire :</div>
    <div>Niveau difficile :</div>
  </div>

  <div class="div4 card">
    <h2>Statistiques par région</h2>
    <div>Afrique :</div>
    <div>Amérique :</div>
    <div>Asie :</div>
    <div>Europe :</div>
    <div>Océanie :</div>
  </div>
</div>

<%= console %>
