<aside class="gb-sidebar">
  <div class="gb-sidebar_logo">
    <%= link_to root_path do %>
      <%= image_tag "littlelogo.png", alt: "GeoBattle small logo", class: "gb-logo small" %>
      <%= image_tag "logo.png", alt: "GeoBattle big logo", class: "gb-logo big" %>
    <% end %>
  </div>

  <div class="gb-sidebar__avatar">
    <%= image_tag "avatar3.png", alt: "Profil", class: "gb-avatar" %>
  </div>

  <nav class="gb-sidebar__menu">
    <%= link_to root_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-house" style="color: #ffffff;"></i>
      <span class="label">Home page</span>
    <% end %>

    <%= link_to pages_profile_path, class: "gb-sideitem active" do %>
      <i class="fa-solid fa-user"></i>
      <span class="label">Profil</span>
    <% end %>

    <%= link_to pages_stats_path, class: "gb-sideitem" do %>
      <i class="fa-solid fa-chart-simple"></i>
      <span class="label">Statistiques</span>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path,
                  class: "gb-sideitem",
                  data: { turbo_method: :delete, turbo_confirm: "Se déconnecter ?" } do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="label">Déconnexion</span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "gb-sideitem" do %>
        <i class="fa-solid fa-right-to-bracket"></i>
        <span class="label">Se connecter</span>
      <% end %>
    <% end %>
  </nav>
</aside>

  <div class="all-stats card">
    <h1 class="title">Statistiques</h1>
    <div class="global">
      <p style="color: green">Bonnes réponses: <%= @correct.count %></p>
      <p style="color: red">Mauvaises réponses: <%= @incorrect.count %></p>
      <p>Pourcentage global: <%= number_to_percentage(@total_correct, precision: 0) %> de bonnes réponses</p>
    </div>
  </div>

<div class="parent stats-container">

  <div class="cat-stats card">
    <h2>Catégorie</h2>
    <div class="card-content">
      <div class="front"><h4>Drapeaux:</h4></div>
      <div class="back">
        <p>Nombre de bonnes réponses: <%=  @correct_in_cat_dp.count %></p>
        <p><%= number_to_percentage(@total_correct_dp, precision: 0) %> de réussite</p>
      </div>
    </div>
    <div class="card-content">
      <h4>Hydrographie et reliefs:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_cat_hr.count %>, <%= number_to_percentage(@total_correct_hr, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Géopolitique:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_cat_gp.count %>, <%= number_to_percentage(@total_correct_gp, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Régions et villes du monde:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_cat_rv.count %>, <%= number_to_percentage(@total_correct_rv, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Cultures:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_cat_cl.count %>, <%= number_to_percentage(@total_correct_cl, precision: 0) %> de réussite</p>
    </div>
  </div>

  <div class="diff-stats card">
    <h2>Difficulté</h2>
    <div class="card-content">
      <h4>Niveau facile:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_dif_f.count %>, <%= number_to_percentage(@total_correct_dif_f, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Niveau intermédiaire:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_dif_i.count %>, <%= number_to_percentage(@total_correct_dif_i, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Niveau difficile:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_dif_d.count %>, <%= number_to_percentage(@total_correct_dif_d, precision: 0) %> de réussite</p>
    </div>
  </div>

  <div class="reg-stats card">
    <h2>Région</h2>
    <div class="card-content">
      <h4>Europe:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_reg_eu.count %>, <%= number_to_percentage(@total_correct_reg_eu, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Amérique:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_reg_am.count %>, <%= number_to_percentage(@total_correct_reg_am, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Asie:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_reg_as.count %>, <%= number_to_percentage(@total_correct_reg_as, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Afrique:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_reg_af.count %>, <%= number_to_percentage(@total_correct_reg_af, precision: 0) %> de réussite</p>
    </div>
    <div class="card-content">
      <h4>Océanie:</h4>
      <p>Nombre de bonnes réponses: <%=  @correct_in_reg_oc.count %>, <%= number_to_percentage(@total_correct_reg_oc, precision: 0) %> de réussite</p>
    </div>
  </div>
</div>

<%= console %>
