<div class="container d-flex flex-column justify-content-center align-items-center vh-100" >
  <%= form_with model: @game do |f| %>

    <div class="game_card" data-controller="setup-game">

      <p>Mode de jeu</p>
      <div class="button_game_mode_container">
        <input name="game[game_type]" type="radio" class="button" id="solo" value="solo">
        <label for="solo">solo</label>
        <input name="game[game_type]" type="radio" class="button" id="multi" value="Multijoueur">
        <label for="multi">Multi</label>
      </div>

      <p>Zone</p>
      <div class="button_zone_container">
        <%= f.select :region,
        options_for_select([
          ["Europe", "Europe"],
          ["Amérique", "Amérique"],
          ["Océanie", "Océanie"],
          ["Afrique", "Afrique"],
          ["Asie", "Asie"]
        ]),
        { prompt: "Choisir" },
        class: "select_game_newregion" %>
        <input name="game[region]" type="radio" class="button" id="random" value="Random">
        <label for="random">Random</label>
      </div>


      <p>Choisir une catégorie</p>
      <%= f.select :category,
      options_for_select([
        ["Hydrographie et reliefs","Hydrographie et reliefs"],
        ["Régions et villes du monde", "Régions et villes du monde"],
        ["Cultures", "Cultures"],
        ["Géopolitique", "Géopolitique"],
        ["Drapeaux", "Drapeaux"]
      ]),
      { prompt: "Choisir dans la liste" },
      class: "select_game_new" %>


      <p>Difficulté</p>
      <%= f.select :difficulty,
      options_for_select([
        ["Facile", "facile"],
        ["Intermédiaire", "intermédiaire"],
        ["Difficile", "difficile"]
      ]),
      { prompt: "Choisir dans la liste" },
      class: "select_game_new" %>

      <%= f.submit value: "Lancer la partie", class: "button_game" %>

    <% end %>
    </div>

</div>a
