
<!DOCTYPE html>
<html>
  <head>
    <title>GeoBattle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
  <% unless controller_name == "pages" && action_name != "home" %>

    <%=render "shared/navbar"%>
     <% end %>
      <main class="gb-page">
        <div class="home-green">
          <div class="home-blue">
            <div class="home-map">
              <div class="page-content">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </main>
  </body>
</html>
